*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
./idea
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/runConfigurations.xml